@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization


<div class="error-container">
    <img src="https://via.placeholder.com/150" alt="Unauthorized Access" class="error-image" />
    <h1 class="error-title">Sorry</h1>
    <p class="error-message">You're not authorized to reach this page. You may need to log in.</p>
</div>



